extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='160')

block footer
		p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
