extends ../../layouts/default

block flash-messages
	//- intentionally blank

block content
	.container-xs
		.page-intro
			h1 Esqueceu a senha?
			p.lead Sem problemas, nós lhe enviaremos um link para resetar a senha.
		.page-content
			+flash-messages(messages)
			+auth-forms({ modal: false, initial: 'password' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
