extends ../../layouts/default

block flash-messages
	//- intentionally blank

block content
	.container-xs
		.page-intro
			h1 Resetar a senha
			p.lead Por favor, entre a sua senha duas vezes
		.page-content
			+flash-messages(messages)
			form(method='post', novalidate).auth-form
				input(type='hidden', name='action', value='reset-password')
				.form-groups
					.form-group
						label(for='password').sr-only Nova senha
						input(type='password', name='password', id='password', placeholder='Nova senha').form-control.form-control--first
					.form-group
						label(for='password_confirm').sr-only Confirme a senha
						input(type='password', name='password_confirm', id='password_confirm', placeholder='Confirme a senha').form-control.form-control--last
				button(type='submit').btn.btn-block.btn-primary Resetar senha
			p.text-center.text-muted.mt-3
				a(href='/signin') Entrar

block js
	script.
		var $form = $('.auth-form');
		var $submit = $form.find('.btn');
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
