extends ../../layouts/default

block flash-messages
	//- intentionally blank

block content
	.container
		.page-intro
<<<<<<< HEAD
			h1 Logar em João Roque Jiu-Jitsu
=======
			h1 Logar no 
>>>>>>> 4c09057e4eea5cad99635eac34793bbc2d015c2f
			+flash-messages(messages)
		.page-content
			+auth-forms({ modal: false, initial: 'signin' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
