extends ../../layouts/session

block content
	//- .row: .col-md-6.col-md-offset-3
	h1 Sair
	p.lead Obrigado, vejo você em breve
	p: a(href='/signin').btn.btn-primary.btn-block Entrar
	p: a(href='/').btn.btn-default.btn-block Home
