//- SITE .FOOTER
footer.container.site-footer.site-footer--sticky: .container
	.row
		.col-sm-4
			h5.footer-heading Sobre
			ul.list-inline
				li: a(href='/about') Sobre João Roque Jiu-Jitsu
				li: a(href='mailto:admin@joaoroque.com') Entre em contato

		.col-sm-8
			.row
				if !user
					li: a(href='/join').js-auth-trigger Se cadastre
				.col-xs-4
					h5.footer-heading Resources
					ul
						li: a(href='/links') Links
						li: a(href='/blog') Notícias
		.row.footer-copyright
			p Copyright &copy; 2016 João Roque Jiu-Jitsu.
